/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config for full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines parameters so that mimimal tests are converted to full size pipeline test.

    Use as follows:
        nextflow run nf-core/circrna -profile test,full,<docker/singularity> --outdir <OUTDIR>
        nextflow run nf-core/circrna -profile test_igenomes,full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    tools                      = 'circexplorer2,ciriquant,find_circ,circrna_finder,mapsplice,dcc,segemehl'
    min_tools                  = 2
}
