/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    // PREPARE GENOME
    withName: BOWTIE_BUILD {
        ext.when = { params.fasta && !params.bowtie && params.tool.split(',').contains('mapsplice') && params.module.split(',').contains('circrna_discovery') }
        publishDir = [
            path: { "${params.outdir}/genome/index/bowtie" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: BOWTIE2_BUILD {
        ext.when = { params.fasta && !params.bowtie2 && params.tool.split(',').contains('find_circ') && params.module.split(',').contains('circrna_discovery') }
        publishDir = [
            path: { "${params.outdir}/genome/index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: BWA_INDEX {
        ext.when = { params.fasta && !params.bwa && params.tool.split(',').contains('ciriquant') && params.module.split(',').contains('circrna_discovery') }
        publishDir = [
            path: { "${params.outdir}/genome/index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: HISAT2_EXTRACTSPLICESITES {
        ext.when = { params.fasta && params.gtf && ( params.module.split(',').contains('differential_expression') || params.tool.split(',').contains('ciriquant') ) }
        publishDir = [
            path: { "${params.outdir}/genome/index/hisat2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: HISAT2_BUILD {
        ext.when = { params.fasta && params.gtf && ( params.module.split(',').contains('differential_expression') || params.tool.split(',').contains('ciriquant') ) }
        publishDir = [
            path: { "${params.outdir}/genome/index/hisat2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: STAR_GENOMEGENERATE {
        ext.when = { params.fasta && params.gtf && !params.star && params.module.split(',').contains('circrna_discovery') && ( params.tool.split(',').contains('circexplorer2') || params.tool.split(',').contains('dcc') || params.tool.split(',').contains('circrna_finder') ) }
        ext.args = [ "",
            params.sjdboverhang ? "--sjdbOverhang ${params.sjdboverhang}" : '',
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/genome/index/star" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: SEGEMEHL_INDEX {
        ext.when = { params.fasta && !params.segemehl && params.tool.split(',').contains('segemehl') && params.module.split(',').contains('circrna_discovery') }
        publishDir = [
            path: { "${params.outdir}/genome/index/segemehl" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    // circRNA

    withName: SEGEMEHL_ALIGN {
        ext.when = { params.fasta && !params.segemehl && params.tool.split(',').contains('segemehl') && params.module.split(',').contains('circrna_discovery') }
        ext.args = [ "",
            "-b",
            "-S"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/segemehl/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: SEGEMEHL_FILTER {
        ext.when = { params.tool.split(',').contains('segemehl') && params.module.split(',').contains('circrna_discovery') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/segemehl/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
            pattern: "*circs.bed"
        ]
    }

    withName: STAR_1ST_PASS {
        ext.when = { params.module.split(',').contains('circrna_discovery') && ( params.tool.split(',').contains('circexplorer2') || params.tool.split(',').contains('dcc') || params.tool.split(',').contains('circrna_finder') ) }
        ext.args = [ "",
            "--chimOutType Junctions WithinBAM",
            "--outSAMunmapped Within",
            "--outFilterType BySJout",
            "--outReadsUnmapped None",
            "--readFilesCommand zcat",
            params.alignSJDBoverhangMin ? "--alignSJDBoverhangMin ${params.alignSJDBoverhangMin}" : "",
            params.chimJunctionOverhangMin ? "--chimJunctionOverhangMin ${params.chimJunctionOverhangMin}" : "",
            params.chimSegmentMin ? "--chimSegmentMin ${params.chimSegmentMin}" :  ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/star/1st_pass" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: SJDB {
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/star/sjdb" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: STAR_2ND_PASS {
        ext.when = { params.module.split(',').contains('circrna_discovery') && ( params.tool.split(',').contains('circexplorer2') || params.tool.split(',').contains('dcc') || params.tool.split(',').contains('circrna_finder') ) }
        ext.args = [ "",
            params.tool.split(',').contains('circrna_finder') ? "--chimOutType Junctions SeparateSAMold" : "--chimOutType Junctions WithinBAM",
            "--outSAMunmapped Within",
            "--outFilterType BySJout",
            "--outReadsUnmapped None",
            "--readFilesCommand zcat",
            "--sjdbFileChrStartEnd dataset.SJ.out.tab",
            params.alignSJDBoverhangMin ? "--alignSJDBoverhangMin ${params.alignSJDBoverhangMin}" : "--alignSJDBoverhangMin 10",
            params.chimJunctionOverhangMin ? "--chimJunctionOverhangMin ${params.chimJunctionOverhangMin}" : "--chimJunctionOverhangMin 10",
            params.chimSegmentMin ? "--chimSegmentMin ${params.chimSegmentMin}" :  "--chimSegmentMin 10"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/star/2nd_pass" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: CIRCEXPLORER2_REFERENCE {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('circexplorer2') }
        ext.args = [ "",
            "-genePredExt",
            "-geneNameAsName2"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/genome/circexplorer2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: CIRCEXPLORER2_PARSE {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('circexplorer2') }

        publishDir = [
            path: { "${params.outdir}/circrna_discovery/circexplorer2/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: CIRCEXPLORER2_ANNOTATE {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('circexplorer2') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/circexplorer2/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: CIRCEXPLORER2_FILTER {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('circexplorer2') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/circexplorer2/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
            pattern: "*circs.bed"
        ]
    }

    withName: CIRCRNA_FINDER_FILTER {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('circrna_finder') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/circrna_finder/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
            pattern: "*circs.bed"
        ]
    }

    withName: FIND_CIRC_ALIGN {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('find_circ') }
        ext.args = [ "",
            "--very-sensitive",
            "--mm",
            "-D 20",
            "--score-min=C,-15,0",
            "-q"
            ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/find_circ/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: SAMTOOLS_VIEW {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('find_circ') }
        ext.prefix = { "${meta.id}_unmapped" }
        ext.args = "-hf 4"
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/find_circ/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: FIND_CIRC_ANCHORS {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('find_circ') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/find_circ/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: FIND_CIRC {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('find_circ') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/find_circ/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: FIND_CIRC_FILTER {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('find_circ') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/find_circ/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
            pattern: "*circs.bed"
        ]
    }

    withName: CIRIQUANT_YML {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('ciriquant') }
        publishDir = [
            path: { "${params.outdir}/genome/ciriquant" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: CIRIQUANT {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('ciriquant') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/ciriquant/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: CIRIQUANT_FILTER {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('ciriquant') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/ciriquant/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
            pattern: "*circs.bed"
        ]
    }

    withName: DCC_MATE1_1ST_PASS {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('dcc') }
        ext.prefix = { "${meta.id}_mate1" }
        ext.args = [ "",
            "--chimOutType Junctions WithinBAM",
            "--outSAMunmapped Within",
            "--outFilterType BySJout",
            "--outReadsUnmapped None",
            "--readFilesCommand zcat",
            params.alignSJDBoverhangMin ? "--alignSJDBoverhangMin ${params.alignSJDBoverhangMin}" : "",
            params.chimJunctionOverhangMin ? "--chimJunctionOverhangMin ${params.chimJunctionOverhangMin}" : "",
            params.chimSegmentMin ? "--chimSegmentMin ${params.chimSegmentMin}" :  ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/dcc/intermediates/mate1/1st_pass" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: DCC_MATE1_SJDB {
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/dcc/intermediates/mate1/sjdb" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: DCC_MATE1_2ND_PASS {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('dcc') }
        ext.prefix = { "${meta.id}_mate1" }
        ext.args = [ "",
            "--chimOutType Junctions WithinBAM",
            "--outSAMunmapped Within",
            "--outFilterType BySJout",
            "--outReadsUnmapped None",
            "--readFilesCommand zcat",
            "--sjdbFileChrStartEnd dataset.SJ.out.tab",
            params.alignSJDBoverhangMin ? "--alignSJDBoverhangMin ${params.alignSJDBoverhangMin}" : "--alignSJDBoverhangMin 10",
            params.chimJunctionOverhangMin ? "--chimJunctionOverhangMin ${params.chimJunctionOverhangMin}" : "--chimJunctionOverhangMin 10",
            params.chimSegmentMin ? "--chimSegmentMin ${params.chimSegmentMin}" :  "--chimSegmentMin 10"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/dcc/intermediates/mate1/2nd_pass" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: DCC_MATE2_1ST_PASS {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('dcc') }
        ext.prefix = { "${meta.id}_mate2" }
        ext.args = [ "",
            "--chimOutType Junctions WithinBAM",
            "--outSAMunmapped Within",
            "--outFilterType BySJout",
            "--outReadsUnmapped None",
            "--readFilesCommand zcat",
            params.alignSJDBoverhangMin ? "--alignSJDBoverhangMin ${params.alignSJDBoverhangMin}" : "",
            params.chimJunctionOverhangMin ? "--chimJunctionOverhangMin ${params.chimJunctionOverhangMin}" : "",
            params.chimSegmentMin ? "--chimSegmentMin ${params.chimSegmentMin}" :  ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/dcc/intermediates/mate2/1st_pass" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: DCC_MATE2_SJDB {
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/dcc/intermediates/mate2/sjdb" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: DCC_MATE2_2ND_PASS {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('dcc') }
        ext.prefix = { "${meta.id}_mate2" }
        ext.args = [ "",
            "--chimOutType Junctions WithinBAM",
            "--outSAMunmapped Within",
            "--outFilterType BySJout",
            "--outReadsUnmapped None",
            "--readFilesCommand zcat",
            "--sjdbFileChrStartEnd dataset.SJ.out.tab",
            params.alignSJDBoverhangMin ? "--alignSJDBoverhangMin ${params.alignSJDBoverhangMin}" : "--alignSJDBoverhangMin 10",
            params.chimJunctionOverhangMin ? "--chimJunctionOverhangMin ${params.chimJunctionOverhangMin}" : "--chimJunctionOverhangMin 10",
            params.chimSegmentMin ? "--chimSegmentMin ${params.chimSegmentMin}" :  "--chimSegmentMin 10"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/dcc/intermediates/mate2/2nd_pass" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: MAPSPLICE_REFERENCE {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('mapsplice') }
        ext.args = [ "",
            "-genePredExt",
            "-geneNameAsName2"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/genome/mapsplice" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: MAPSPLICE_ALIGN {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('mapsplice') }
        ext.args = [ "",
            params.seglen ? "--seglen ${params.seglen}" : "--seglen 25",
            params.min_intron ? "--min-intron ${params.min_intron}" : "--min-intron 20",
            params.max_intron ? "--max-intron ${params.max_intron}" : "--max-intron 1000000",
            params.min_map_len ? "--min-map-len ${params.min_map_len}" : "--min-map-len 40",
            params.min_fusion_distance ? "--min-fusion-distance ${params.min_fusion_distance}" : "--min-fusion-distance 200",
            "--fusion-non-canonical"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/mapsplice/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

withName: MAPSPLICE_PARSE {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('mapsplice') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/mapsplice/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: MAPSPLICE_ANNOTATE {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('mapsplice') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/mapsplice/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates
        ]
    }

    withName: MAPSPLICE_FILTER {
        ext.when = { params.module.split(',').contains('circrna_discovery') && params.tool.split(',').contains('mapsplice') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/mapsplice/intermediates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
            pattern: "*circs.bed"
        ]
    }

    withName: ANNOTATION {
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/${meta.tool}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTA {
        ext.when = { params.module.split(',').contains('circrna_discovery') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/${meta.tool}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.fasta"
        ]
    }

    withName: COUNTS_SINGLE {
        ext.when = { params.module.split(',').contains('circrna_discovery') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.txt"
        ]
    }

    withName: COUNTS_COMBINED {
        ext.when = { params.module.split(',').contains('circrna_discovery') }
        publishDir = [
            path: { "${params.outdir}/circrna_discovery/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.txt"
        ]
    }

    withName: TARGETSCAN_DATABASE {
        ext.when = { params.module.split(',').contains('mirna_prediction') }
    }

    withName: TARGETSCAN {
        ext.when = { params.module.split(',').contains('mirna_prediction') }
        ext.prefix = { "${meta.id}.targetscan" }
        publishDir = [
            path: { "${params.outdir}/mirna_prediction/targetscan" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.txt"
        ]
    }

    withName: MIRANDA {
        ext.when = { params.module.split(',').contains('mirna_prediction') }
        ext.prefix = { "${meta.id}.miranda" }
        ext.args = "-strict"
        publishDir = [
            path: { "${params.outdir}/mirna_prediction/miranda" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.txt"
        ]
    }

    withName: MIRNA_TARGETS {
        ext.when = { params.module.split(',').contains('mirna_prediction') }
        publishDir = [
            path: { "${params.outdir}/mirna_prediction/${meta.tool}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.txt"
        ]
    }

    // DIFF EXP

    withName: HISAT2_ALIGN {
        ext.when = { params.module.split(',').contains('differential_expression') }
        ext.args = ["",
                    "--dta",
                    "--no-spliced-alignment"
                    ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/differential_expression/intermediates/hisat2/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
            pattern: "*.bam"
        ]
    }

    withName: STRINGTIE_STRINGTIE {
        ext.when = { params.module.split(',').contains('differential_expression') }
        ext.args = "-e"
        publishDir = [
            path: { "${params.outdir}/differential_expression/intermediates/stringtie/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
            pattern: "*."
        ]
    }

}
