/*
 * -----------------------------------------------------------------------------
 * Nextflow Configuration file for National University of Ireland, Galway
 * -----------------------------------------------------------------------------
 * HPC: Lugh
 * System Administrator: Declan Bennett
 * Queue avail: MSC, normal, highmem
 * N.B: SLURM isn't configured to use max_memory, thus the parameter will
 * not work (comment in nextflow.config)
 */

process {
beforeScript = 'module load singularity'
containerOptions = '-B /data/'
executor='slurm'
queue='highmem'
clusterOptions = '-c 4 -n 1 -N 1'
}

singularity.enabled = true
singularity.autoMounts = true

singularity {
	cacheDir = '/data/bdigby/containers'
}
