//Profile config names for nf-core/configs
params {
  config_profile_description = 'National University of Ireland, Galway Lugh cluster profile provided by nf-core/configs'
  config_profile_contact = 'Barry Digby'
  config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/nuig.md'
}
singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/data/containers'
}
process {
  beforeScript = """
                    module load EasyBuild/3.4.1
                    module load Java/1.8.0_144
                    module load singularity/3.4.1
                    ulimit -s unlimited
                 """
                 .stripIndent()
  containerOptions = '-B /data/'
  executor = 'slurm'
  queue = { task.cpus > 4 ? 'highmem' : task.cpus > 2 ? 'highmem' : 'highmem' }
  /* Lugh scheduler fails if you try to specify memory (#SBATCH --mem) for jobs */
  //withName: '.*' { memory = null }
}
params {
  max_time = '48.h'
  max_memory = '110.GB'
  max_cpus = 16
}
