/*
 * Nextflow Configuration file for National University of Ireland, Galway
 * HPC: Lugh
 * System Administrator: Declan Bennett
 * N.B: SLURM isn't configured to use max_memory, thus the parameter will
 * not work.
 */

process {
beforeScript = 'module load singularity'
container = 'barryd237/circrna:dev'
containerOptions = '-B /data/'
executor='slurm'
queue='MSC'
clusterOptions = '-c 16 -n 1 -N 1'

withLabel: 'multiqc' {
	 container = 'barryd237/week1:test'
	}
}

singularity.enabled = true
singularity.autoMounts = true

singularity {
	cacheDir = '/data/bdigby/containers'
}
