/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests using igenomes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a minimal pipeline test.

    Use as follows:
        nextflow run nf-core/circrna -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Minimal igenomes profile'
    config_profile_description = 'Minimal igenomes test dataset to check pipeline function'

    // Input data for minima test using igenomes
    input                      = 'https://raw.githubusercontent.com/nf-core/test-datasets/circrna/samples.csv'

    genome                     = 'ce10'
    tool                       = 'circexplorer2'
    phenotype                  = 'https://raw.githubusercontent.com/nf-core/test-datasets/circrna/phenotype.csv'
    skip_trimming              = false
    star                       = null // igenomes STAR version is not compatible
    outdir                     = 'results/'
    bsj_reads                  = 2
}
