/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/circrna -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // Input data parameters
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/circrna/samples_full.csv'
  phenotype = 'https://raw.githubusercontent.com/nf-core/test-datasets/circrna/phenotype.csv'
  input_type = 'fastq'

  // Module params
  module = 'circrna_discovery, mirna_prediction, differential_expression'
  tool = 'circexplorer2, ciriquant'
  bsj_reads = 3
}
