/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/circrna -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/circrna/samples.csv'

    genome = 'ce10'
    tool = 'circexplorer2,ciriquant,find_circ,circrna_finder,mapsplice,dcc,segemehl'
    mature = 'https://raw.githubusercontent.com/nf-core/test-datasets/circrna/reference/mature.fa'
    phenotype = 'https://raw.githubusercontent.com/nf-core/test-datasets/circrna/phenotype.csv'
    skip_trimming = false
    module = 'circrna_discovery,mirna_prediction,differential_expression'
    outdir = 'results/'
    bsj_reads = 2
    tool_filter = 2
    species = 'cel'
}
